In [1]:
import eospy
from eospy.cleos import Cleos
import pytz
import random
import datetime
import time
import csv
import pandas as pd
import numpy as np

from pyvis.network import Network
import networkx as nx

ce = Cleos(url='https://api.testnet.eos.io')
info = ce.get_info()

In [2]:
print(info)

{'server_version': 'b39b6bd3', 'chain_id': 'cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f', 'head_block_num': 7615966, 'last_irreversible_block_num': 7615638, 'last_irreversible_block_id': '00743496768c5c965c9ffbe8930d1b869455941a2440c99ddbe38cc00c700d6e', 'head_block_id': '007435dea2a98d6bcaec96a9bd7b10c964104612321f4f4be681bfa8509eae96', 'head_block_time': '2020-06-06T07:46:49.500', 'head_block_producer': 'initg', 'virtual_block_cpu_limit': 200000000, 'virtual_block_net_limit': 1048576000, 'block_cpu_limit': 199900, 'block_net_limit': 1048576, 'server_version_string': 'v2.0.4', 'fork_db_head_block_num': 7615966, 'fork_db_head_block_id': '007435dea2a98d6bcaec96a9bd7b10c964104612321f4f4be681bfa8509eae96', 'server_full_version_string': 'v2.0.4-b39b6bd3c74ff47fc53fa80aafa2c1941ba82879'}

In [3]:
data_index = ['txid', 'customer', 'temp_cus', 'time_c', 'r_cook', 'temp_rc', 'time_rw', 'r_w', 'temp_rw', 'time_rw', 'de', 'temp_de', 'time_de']

In [4]:
data_save = []

In [5]:
get_table = ce.get_table('ozjkloygsxzk','ozjkloygsxzk', 'people',lower_bound='10000000',limit=-1)

In [6]:
#get_table

In [7]:
data_save = []
for i in get_table['rows']:
    data = []
    for k in data_index:
        data.append(i[k])
    data_save.append(data)

In [8]:
df = pd.DataFrame(data_save)
df_new = df.rename(columns=lambda s: data_index[s])

In [9]:
# df_new

In [10]:
for i in data_index:
    df_new[i] = df_new[i].replace('', np.nan)
df_new = df_new.dropna()

In [11]:
# https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/

lower_bound = df_new['time_c'] > '2020-05-30 19:25:56'
upper_bound = df_new['time_c'] < '2020-05-30 19:29:29'

In [12]:
# lower_bound

In [13]:
df_new = df_new.sort_values(by=['time_c'])
df_new = df_new[lower_bound & upper_bound]
df_new

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,txid,customer,temp_cus,time_c,r_cook,temp_rc,time_rw,r_w,temp_rw,time_rw,de,temp_de,time_de
68,72251699,tdmdwfbyrieq,36.7,2020-05-30 19:25:57,nrcxmhvmmdws,36.1,2020-05-30 19:26:03,nrcxmhvmmdws,36.1,2020-05-30 19:26:03,cqttboxcmqbg,36.2,2020-05-30 19:26:07
10,17994248,tdmdwfbyrieq,36.2,2020-05-30 19:26:10,mflhbiwckvye,37.3,2020-05-30 19:26:18,mflhbiwckvye,37.3,2020-05-30 19:26:18,bogidqzffpoq,36.6,2020-05-30 19:26:22
61,66808893,fbxruqcaetsa,36.0,2020-05-30 19:26:26,tavwwqactbew,36.4,2020-05-30 19:26:33,tavwwqactbew,36.4,2020-05-30 19:26:33,azdyojobmkea,36.2,2020-05-30 19:26:36
89,89903591,xmlllqshzxgq,37.2,2020-05-30 19:26:40,nrcxmhvmmdws,37.0,2020-05-30 19:26:47,nrcxmhvmmdws,37.0,2020-05-30 19:26:47,jmgpjsfyhqmc,37.4,2020-05-30 19:26:51
95,93912590,vdqfllefkglk,36.4,2020-05-30 19:26:55,cslsovhydlks,37.2,2020-05-30 19:27:04,cslsovhydlks,37.2,2020-05-30 19:27:04,wtvpjqkffkem,36.9,2020-05-30 19:27:09
40,48720094,nzquzuexsbqw,37.3,2020-05-30 19:27:12,tavwwqactbew,37.4,2020-05-30 19:27:19,tavwwqactbew,37.4,2020-05-30 19:27:19,jmgpjsfyhqmc,36.1,2020-05-30 19:27:23
93,92707776,fbxruqcaetsa,36.2,2020-05-30 19:27:26,mflhbiwckvye,36.9,2020-05-30 19:27:34,mflhbiwckvye,36.9,2020-05-30 19:27:34,wtvpjqkffkem,36.9,2020-05-30 19:27:37
51,62093289,fbxruqcaetsa,36.4,2020-05-30 19:27:41,tavwwqactbew,36.5,2020-05-30 19:27:49,tavwwqactbew,36.5,2020-05-30 19:27:49,bhmtdvrjksmm,36.7,2020-05-30 19:27:53
79,80592183,nzquzuexsbqw,37.2,2020-05-30 19:27:56,cslsovhydlks,36.6,2020-05-30 19:28:04,cslsovhydlks,36.6,2020-05-30 19:28:04,izwatdoooomk,37.2,2020-05-30 19:28:08
92,90432220,vdqfllefkglk,36.9,2020-05-30 19:28:11,tavwwqactbew,36.3,2020-05-30 19:28:20,tavwwqactbew,36.3,2020-05-30 19:28:20,azvaphsayems,37.5,2020-05-30 19:28:24

In [14]:
one = df_new.iloc[2]
# df_new.to_json(orient='values')

# df_new.to_numpy()
# 1 4 10

In [15]:
def make_comment_by_name(name, df, who='customer'):
    if who in 'customer':
        name_filter = df_new['customer'] == name
    elif who in 'restaurant':
        name_filter = df_new['r_cook'] == name
    elif who in 'deliver':
        name_filter = df_new['de'] == name
        
    df_name = df[name_filter]
    #print(df_name)
    #st = df_name.to_json(orient='records')
    st = df_name.to_numpy()
    
    st_op = ''
    for i in range(len(st)):
        st_op += '<b>[Order] '+format(i+1) +'</b><br>'
        for k in range(len(st[i])):
            st_op += '<t>'+format(data_index[k])+' : '+ format(st[i][k]) +'<br>'
    
    return st_op

In [16]:
class Map():
    def __init__(self, df):
        #self.g = graph = Network(notebook=True,directed=False,height="600px",width="600px")
        self.g = None
        self.df = df
        self.total_customers = list(self.df.groupby("customer").groups)
        self.total_restaurants = list(self.df.groupby("r_cook").groups)
        self.total_deliver_mans = list(self.df.groupby("de").groups)
        
        self.num_of_node_name_id = []

        self.edges = []
        
        self.size = [0]*(len(self.total_customers)+len(self.total_restaurants)+len(self.total_deliver_mans))
        

    def create_graph_from_panda(self):
        self.g = graph = Network(notebook=True,directed=False,height="600px",width="600px")

        for i in range(len(self.total_customers)):
            size = "<b>[P : {:.2f} % ]</b><br>".format(self.size[i])
            self.g.add_node(i,
                    value = self.size[i],
                    title = size+make_comment_by_name(self.total_customers[i], self.df, who='customer'),
                    label = self.total_customers[i],
                    color = '#688FF2')
            self.num_of_node_name_id.append(self.total_customers[i])

        for i in range(len(self.total_restaurants)):
            size = "<b>[P : {:.2f} % ]</b><br>".format(self.size[i+len(self.total_customers)])
            self.g.add_node(i+len(self.total_customers),
                    value = self.size[i+len(self.total_customers)],
                    title = size+make_comment_by_name(self.total_restaurants[i], self.df, who='restaurant'),
                    label = [self.total_restaurants[i]],
                    color = '#E8728B')
            self.num_of_node_name_id.append(self.total_restaurants[i])

        for i in range(len(self.total_deliver_mans)):
            size = "<b>[P : {:.2f} % ]</b><br>".format(self.size[i+len(self.total_customers)+len(self.total_restaurants)])
            self.g.add_node(i+len(self.total_customers)+len(self.total_restaurants),
                    value = self.size[i+len(self.total_customers)+len(self.total_restaurants)],
                    title = size+make_comment_by_name(self.total_deliver_mans[i], self.df, who='deliver'),
                    label = self.total_deliver_mans[i],
                    color = '#98E872')
            self.num_of_node_name_id.append(self.total_deliver_mans[i])

        
        #print(num_of_node_name_id)

        for i in self.df.to_numpy():
            n1 = self.num_of_node_name_id.index(i[1])
            n2 = self.num_of_node_name_id.index(i[4])
            n3 = self.num_of_node_name_id.index(i[10])
            self.edges.append((n1,n2))
            self.edges.append((n2,n3))
            self.edges.append((n3,n1))
            #print("in ", " : ",i[1]," and ", i[4])
        #print(edges)

        self.g.add_edges(self.edges)
        
    def graph_show(self):
        self.g.show("example.html")
        
    def patient_add(self,patient,d=0.5):
        alpha = np.zeros([len(self.num_of_node_name_id),len(self.num_of_node_name_id)], dtype = float)
        beta = np.zeros([len(self.num_of_node_name_id),len(self.num_of_node_name_id)], dtype = float)
        p = np.zeros([len(self.num_of_node_name_id),len(self.num_of_node_name_id)], dtype = float)
        
        #patient = 2
        #d = 0.5

        p[patient][patient] = 1

        for i in self.edges: 
            alpha[i[0],i[1]] = 1
            alpha[i[1],i[0]] = 1
            
        p_old = None

        #while True:
        for i in range(10):
            beta = d*(alpha @ p)

            s = beta.max(axis=1)
            s = np.expand_dims(s, axis=1)

            p_ = p.max(axis=1)
            p_ = np.expand_dims(p_, axis=1)

            p_ = np.array([max(s[i],p_[i]) for i in range(len(s))])

            for i in range(len(s)):
                p[i][i] = p_[i]

            #if np.array_equal(p, p_old): break

            #p_old = p

        
        self.size = list(p.max(axis=1)*100.0)
        self.create_graph_from_panda()
        #pass

In [17]:
map = Map(df_new)

In [18]:
map.create_graph_from_panda()

In [19]:
# map.graph_show()
map.g.show("example.html")

In [20]:
map.patient_add(1,d = 0.6)

In [21]:
map.g.show("example.html")

In [22]:
!sed -i "s/            width: 600px;//" example.html
!sed -i "s/            height: 600px;//" example.html

In [23]:
map.num_of_node_name_id

['fbxruqcaetsa',
 'nzquzuexsbqw',
 'tdmdwfbyrieq',
 'vdqfllefkglk',
 'xmlllqshzxgq',
 'cslsovhydlks',
 'mflhbiwckvye',
 'nrcxmhvmmdws',
 'tavwwqactbew',
 'azdyojobmkea',
 'azvaphsayems',
 'bhmtdvrjksmm',
 'bogidqzffpoq',
 'cqttboxcmqbg',
 'izwatdoooomk',
 'jmgpjsfyhqmc',
 'wtvpjqkffkem',
 'fbxruqcaetsa',
 'nzquzuexsbqw',
 'tdmdwfbyrieq',
 'vdqfllefkglk',
 'xmlllqshzxgq',
 'cslsovhydlks',
 'mflhbiwckvye',
 'nrcxmhvmmdws',
 'tavwwqactbew',
 'azdyojobmkea',
 'azvaphsayems',
 'bhmtdvrjksmm',
 'bogidqzffpoq',
 'cqttboxcmqbg',
 'izwatdoooomk',
 'jmgpjsfyhqmc',
 'wtvpjqkffkem']