In [342]:
import eospy
from eospy.cleos import Cleos
import pytz
import random
import datetime
import time
import csv
import pandas as pd
import numpy as np

from pyvis.network import Network
import networkx as nx

ce = Cleos(url='https://api.testnet.eos.io')
info = ce.get_info()

In [343]:
print(info)

{'server_version': 'b39b6bd3', 'chain_id': 'cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f', 'head_block_num': 6433138, 'last_irreversible_block_num': 6432810, 'last_irreversible_block_id': '0062282a130d10976717ae378ab3164ee6e8aab1205b1559be6d06a986844984', 'head_block_id': '00622972c07b26b060065cda2512aa00e64f50d13cde32811da0c20f69342cd3', 'head_block_time': '2020-05-30T11:29:55.500', 'head_block_producer': 'initl', 'virtual_block_cpu_limit': 200000000, 'virtual_block_net_limit': 1048576000, 'block_cpu_limit': 199900, 'block_net_limit': 1048576, 'server_version_string': 'v2.0.4', 'fork_db_head_block_num': 6433138, 'fork_db_head_block_id': '00622972c07b26b060065cda2512aa00e64f50d13cde32811da0c20f69342cd3', 'server_full_version_string': 'v2.0.4-b39b6bd3c74ff47fc53fa80aafa2c1941ba82879'}

In [344]:
data_index = ['txid', 'customer', 'temp_cus', 'time_c', 'r_cook', 'temp_rc', 'time_rw', 'r_w', 'temp_rw', 'time_rw', 'de', 'temp_de', 'time_de']

In [345]:
data_save = []

In [346]:
get_table = ce.get_table('ozjkloygsxzk','ozjkloygsxzk', 'people',lower_bound='10000000',limit=-1)

In [347]:
#get_table

In [348]:
data_save = []
for i in get_table['rows']:
    data = []
    for k in data_index:
        data.append(i[k])
    data_save.append(data)

In [349]:
df = pd.DataFrame(data_save)
df_new = df.rename(columns=lambda s: data_index[s])

In [350]:
# df_new

In [351]:
for i in data_index:
    df_new[i] = df_new[i].replace('', np.nan)
df_new = df_new.dropna()

In [352]:
# https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/

lower_bound = df_new['time_c'] > '2020-05-30 19:25:56'
upper_bound = df_new['time_c'] < '2020-05-30 19:29:29'

In [353]:
# lower_bound

In [354]:
df_new = df_new.sort_values(by=['time_c'])
df_new = df_new[lower_bound & upper_bound]
df_new

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,txid,customer,temp_cus,time_c,r_cook,temp_rc,time_rw,r_w,temp_rw,time_rw,de,temp_de,time_de
68,72251699,tdmdwfbyrieq,36.7,2020-05-30 19:25:57,nrcxmhvmmdws,36.1,2020-05-30 19:26:03,nrcxmhvmmdws,36.1,2020-05-30 19:26:03,cqttboxcmqbg,36.2,2020-05-30 19:26:07
10,17994248,tdmdwfbyrieq,36.2,2020-05-30 19:26:10,mflhbiwckvye,37.3,2020-05-30 19:26:18,mflhbiwckvye,37.3,2020-05-30 19:26:18,bogidqzffpoq,36.6,2020-05-30 19:26:22
61,66808893,fbxruqcaetsa,36.0,2020-05-30 19:26:26,tavwwqactbew,36.4,2020-05-30 19:26:33,tavwwqactbew,36.4,2020-05-30 19:26:33,azdyojobmkea,36.2,2020-05-30 19:26:36
89,89903591,xmlllqshzxgq,37.2,2020-05-30 19:26:40,nrcxmhvmmdws,37.0,2020-05-30 19:26:47,nrcxmhvmmdws,37.0,2020-05-30 19:26:47,jmgpjsfyhqmc,37.4,2020-05-30 19:26:51
95,93912590,vdqfllefkglk,36.4,2020-05-30 19:26:55,cslsovhydlks,37.2,2020-05-30 19:27:04,cslsovhydlks,37.2,2020-05-30 19:27:04,wtvpjqkffkem,36.9,2020-05-30 19:27:09
40,48720094,nzquzuexsbqw,37.3,2020-05-30 19:27:12,tavwwqactbew,37.4,2020-05-30 19:27:19,tavwwqactbew,37.4,2020-05-30 19:27:19,jmgpjsfyhqmc,36.1,2020-05-30 19:27:23
93,92707776,fbxruqcaetsa,36.2,2020-05-30 19:27:26,mflhbiwckvye,36.9,2020-05-30 19:27:34,mflhbiwckvye,36.9,2020-05-30 19:27:34,wtvpjqkffkem,36.9,2020-05-30 19:27:37
51,62093289,fbxruqcaetsa,36.4,2020-05-30 19:27:41,tavwwqactbew,36.5,2020-05-30 19:27:49,tavwwqactbew,36.5,2020-05-30 19:27:49,bhmtdvrjksmm,36.7,2020-05-30 19:27:53
79,80592183,nzquzuexsbqw,37.2,2020-05-30 19:27:56,cslsovhydlks,36.6,2020-05-30 19:28:04,cslsovhydlks,36.6,2020-05-30 19:28:04,izwatdoooomk,37.2,2020-05-30 19:28:08
92,90432220,vdqfllefkglk,36.9,2020-05-30 19:28:11,tavwwqactbew,36.3,2020-05-30 19:28:20,tavwwqactbew,36.3,2020-05-30 19:28:20,azvaphsayems,37.5,2020-05-30 19:28:24

In [356]:
one = df_new.iloc[2]
# df_new.to_json(orient='values')

# df_new.to_numpy()
# 1 4 10

In [357]:
def make_comment_by_name(name, df, who='customer'):
    if who in 'customer':
        name_filter = df_new['customer'] == name
    elif who in 'restaurant':
        name_filter = df_new['r_cook'] == name
    elif who in 'deliver':
        name_filter = df_new['de'] == name
        
    df_name = df[name_filter]
    #print(df_name)
    #st = df_name.to_json(orient='records')
    st = df_name.to_numpy()
    
    st_op = ''
    for i in range(len(st)):
        st_op += '<b>[Order] '+format(i+1) +'</b><br>'
        for k in range(len(st[i])):
            st_op += '<t>'+format(data_index[k])+' : '+ format(st[i][k]) +'<br>'
    
    return st_op

In [365]:
def create_graph_from_panda(g,df):
    total_customers = list(df.groupby("customer").groups)
    total_restaurants = list(df.groupby("r_cook").groups)
    total_deliver_mans = list(df.groupby("de").groups)
    
    num_of_node_name_id = []
    
    for i in range(len(total_customers)):
        g.add_nodes([i],
                value=[10],
                title=[make_comment_by_name(total_customers[i], df, who='customer')],
                label=[total_customers[i]],
                color=['#688FF2'])
        num_of_node_name_id.append(total_customers[i])
    
    for i in range(len(total_restaurants)):
        g.add_nodes([i+len(total_customers)],
                value=[10],
                title=[make_comment_by_name(total_restaurants[i], df, who='restaurant')],
                label=[total_restaurants[i]],
                color=['#E8728B'])
        num_of_node_name_id.append(total_restaurants[i])
        
    for i in range(len(total_deliver_mans)):
        g.add_nodes([i+len(total_customers)+len(total_restaurants)],
                value=[10],
                title=[make_comment_by_name(total_deliver_mans[i], df, who='deliver')],
                label=[total_deliver_mans[i]],
                color=['#98E872'])
        num_of_node_name_id.append(total_deliver_mans[i])
        
    edges = []
    #print(num_of_node_name_id)
    
    for i in df.to_numpy():
        n1 = num_of_node_name_id.index(i[1])
        n2 = num_of_node_name_id.index(i[4])
        n3 = num_of_node_name_id.index(i[10])
        edges.append((n1,n2))
        edges.append((n2,n3))
        edges.append((n3,n1))
        #print("in ", " : ",i[1]," and ", i[4])
    #print(edges)
    
    g.add_edges(edges)

In [366]:
graph = None
graph = Network(notebook=True,directed=False,height="600px",width="600px")

In [367]:
create_graph_from_panda(graph,df_new)

In [368]:
graph.show("example.html")

In [369]:
!sed -i "s/            width: 600px;//" example.html
!sed -i "s/            height: 600px;//" example.html